body{
  background: transparent url("../../../../src/images/login.jpg") no-repeat;
}

.header .header-h1 {
    font-size: 4em;
    color: black;
    padding: 0px;
    margin: 0px;
    height: 95px;
}

.loginregister {
    padding: 5em;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.loginregister-box {
    width: 400px;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 13px;
    box-sizing: border-box;
}

h1 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin-bottom: 0.5em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
